/*! base css start  */
*{
    margin: 0;
}
/*! base css start  */

.navbar{
    background-color: #000;
    height: 50px;
    color: white;
    position: sticky;
    top: 0;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}

.logo{
    color: red;
    
}

.menu-list{
    display: flex;
    list-style: none;
}

/*! featured start */
.content-wrapper{
    margin-left: 50px;
}
.featured-content{
    background: url(a610632a-e642-4365-b9ac-98a663628bab.jpg);
    padding: 50px;
    height: calc(100vh - 150px);
    background-size: 100% 160%;
}

.featured-desc{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 30px 0;
}

.featured-buttons{
    display: flex;
    column-gap: 20px;
    cursor: pointer;
    text-decoration:none;
}

.featured-buttons button{
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration:none;

}

.featured-buttons .info-button {
    background-color: white;
    color: white;
}

a{
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
}

.menu-list-item{
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration:none;
}

.button{
    padding: 10px 25px;
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration:none;
}

